@import 'reset.css';
@import 'text.css';

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
  background: #fff;
  color: #333;
  position: relative;
  height: 100%;
  display:flex;   //
  Direction of the items, can be row or column   flex-direction: column;
  flex-direction: column;
}

header{border-bottom: 1px solid}
footer{border-top: 1px solid}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

a {
  color: #06c;
}

a:hover {
  color: #c60;
}

small {
  font-size: 11px;
}

/* `Misc Classes
----------------------------------------------------------------------------------------------------*/

.align_center {
  text-align: center;
}

.align_right {
  text-align: right;
}

/* `Data Table
----------------------------------------------------------------------------------------------------*/

.data,
.data th,
.data td {
  border-style: solid;
  border-color: #ddd;
}

.data {
  border-width: 0 1px 1px;
  width: 100%;
}

.data caption {
  padding: 0 10px 5px;
  text-transform: uppercase;
}

.data th,
.data td {
  border-top-width: 1px;
  padding: 5px 10px;
}

.data th {
  white-space: nowrap;
}

.data thead th {
  background: #eee;
  font-weight: bold;
  text-shadow: #fff 0 1px 0;
}

.data tbody th {
  width: 1px;
}

.data tr th:first-child {
  text-align: right;
}

/* `Code
----------------------------------------------------------------------------------------------------*/

pre,
code {
  font-size: 12px;
  font-family: Menlo, Courier, monospace;
}

pre,
.notice {
  background: #ffe;
  border: 1px solid;
  border-color: #eed #ccb #bba #ddc;
  overflow: auto;
  padding: 10px 0 10px 10px;
}

* html pre {
  overflow: hidden;
  width: 97%;
}

code {
  background: #ff9;
  padding: 0 2px;
}


/* `Social icons
----------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'si';
    src: url('/images/social-icons/socicon.eot');
    src: url('/images/social-icons/socicon.eot?#iefix') format('embedded-opentype'),
         url('/images/social-icons/socicon.woff') format('woff'),
         url('/images/social-icons/socicon.ttf') format('truetype'),
         url('/images/social-icons/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(/images/social-icons/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *
    display:inline;
    zoom:1;
    margin: 0;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 10px;
    color: lightyellow;
    background-color: #352b2b;
}

.soc a:hover {
    z-index: 2;
    background-color: #989882 !important;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter:before {
    content:'a';
}
.soc-facebook:before {
    content:'b';
}
.soc-linkedin:before {
    content:'j';
}
.soc-email2:before {
    content:'.';
}

/* `Site css
----------------------------------------------------------------------------------------------------*/

html,
body {padding:0;margin:0;background-color: lightyellow;}
.main_wrapper {
    height: 100%;
    min-height: 100%;
}
.inner-content-wrapper {
    text-align: center;
    color: #000;
    /* height: 100%; */
    /* min-height: 100%; */
    flex: 1;
}

.link-nav {
    font-size: 20px;
    letter-spacing: 0.1em;
    left: 0px;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* padding: 20px 50px; */
    overflow: hidden;
}

.link-nav .grid_2 {
    /* float: none; */
    /* height: 100%; */
}

.top-section .link-nav {
    min-width: 70px;
}

.hide-div {
  display: none;
}

.content-home h1 {
    font-size: 3em;
}

.content-home h2 {
    font-size: 1.1em;
    text-align: left;
}

.content-about h1,
.content-work h1 {
    text-align: left;
    font-size: 35px;
}

.top-section {top: 0px;position: relative;height: auto;}
.mid-section-wrapper {
    height: 100%;
    /* display: flex; */
    /* align-items: center; */
}
.mid-section {
    font-family: NeutraBold, Arial;
    font-size: 20px;
    /* -webkit-box-sizing: border-box; */
    -moz-box-sizing: border-box;
    /* box-sizing: border-box; */
    height: 100%;
    padding: 20px 70px;
    /* overflow: hidden; */
    /* flex: 1; */
}

.bottom-section {
    bottom:0px;
    line-height: 0;
    height: 100%;
    display: table;
    margin: 0 auto;

}

.content-div {
    border-bottom: 1px solid;
}

.content-div.last {
    border-bottom: none;
}

.centered_div {
    /* margin: 0 auto; */
    /* width: 100%; */
}

.close-div {
    position: absolute;
    right: 46%;
    font-size: 30px;
    bottom: 50px;
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {

    .link-nav {
        font-size: 40px;
        /* line-height: 150px; */
    }
    .bottom-section {
      bottom: 0px;
      height: 100px;
      line-height: 100px;
    }
    .mid-section {
      /* padding: 150px 0 100px 0; */
    }
    .content-home h1 {
      font-size: 2.5em;
    }
    .content-home h2 {
      font-size: 0.8em;
    }
}

.clickable-div {
    cursor: pointer;
}

.top-section .clickable-div:hover,
.close-div:hover {
  color: #989882;
}

.box-dim-70 {
    float: left;
    width: 60%;
}

.box-dim-30 {
    float: left;
    width: 30%;
}

.content-about {
    height: 100%;
}

.bio-wrapper p {
    text-align: left;
    font-size: smaller;
}

.box {
    margin: 20px 0;
}

.portfolio-item, 
.portfolio-item .overlay {
  cursor: pointer;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #42b078;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
  line-height: 25px;
  align-items: center;
  display: flex;
  text-align: center;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  /* -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; */
  /* transition: opacity 0.35s, transform 0.35s; */
  /* -webkit-transform: translate3d(-10px,0,0); */
  /* transform: translate3d(-10px,0,0); */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 250px;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
      width: 100%;  
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

