@import 'reset.css';
@import 'text.css';

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
  background: #fff;
  color: #333;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

a {
  color: #06c;
}

a:hover {
  color: #c60;
}

small {
  font-size: 11px;
}

/* `Misc Classes
----------------------------------------------------------------------------------------------------*/

.align_center {
  text-align: center;
}

.align_right {
  text-align: right;
}

/* `Data Table
----------------------------------------------------------------------------------------------------*/

.data,
.data th,
.data td {
  border-style: solid;
  border-color: #ddd;
}

.data {
  border-width: 0 1px 1px;
  width: 100%;
}

.data caption {
  padding: 0 10px 5px;
  text-transform: uppercase;
}

.data th,
.data td {
  border-top-width: 1px;
  padding: 5px 10px;
}

.data th {
  white-space: nowrap;
}

.data thead th {
  background: #eee;
  font-weight: bold;
  text-shadow: #fff 0 1px 0;
}

.data tbody th {
  width: 1px;
}

.data tr th:first-child {
  text-align: right;
}

/* `Code
----------------------------------------------------------------------------------------------------*/

pre,
code {
  font-size: 12px;
  font-family: Menlo, Courier, monospace;
}

pre,
.notice {
  background: #ffe;
  border: 1px solid;
  border-color: #eed #ccb #bba #ddc;
  overflow: auto;
  padding: 10px 0 10px 10px;
}

* html pre {
  overflow: hidden;
  width: 97%;
}

code {
  background: #ff9;
  padding: 0 2px;
}


/* `Social icons
----------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'si';
    src: url('/images/social-icons/socicon.eot');
    src: url('/images/social-icons/socicon.eot?#iefix') format('embedded-opentype'),
         url('/images/social-icons/socicon.woff') format('woff'),
         url('/images/social-icons/socicon.ttf') format('truetype'),
         url('/images/social-icons/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(/images/social-icons/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0;
    padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *
    display:inline;
    zoom:1;
    margin: 0;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 10px;
    color: #352B2B;
    background-color: #ffffe0;
}

.soc a:hover {
    z-index: 2;
    background-color: #989882 !important;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter:before {
    content:'a';
}
.soc-facebook:before {
    content:'b';
}
.soc-linkedin:before {
    content:'j';
}
.soc-email2:before {
    content:'.';
}

/* `Site css
----------------------------------------------------------------------------------------------------*/

html,
body {padding:0;margin:0;background-color: #352b2b;}
.main_wrapper {
    height: 100%;
    min-height: 100%;
}
.inner-content-wrapper {
    text-align: center;
    color: lightyellow;
    height: 100%;
    min-height: 100%;
}

.link-nav {
    font-size: 20px;
    letter-spacing: 0.1em;
    line-height: 140px;
    width: 100%;
    left: 0px;
    position: absolute;
    font-weight: 700;
}

.link-nav .grid_2 {
    float: none;
    display: inline-block;
    height: 100%;
}

.top-section .link-nav {
    min-width: 70px;
}

.hide-div {
  display: none;
}

.content-home h1 {
    font-size: 3em;
}

.content-home h2 {
    font-size: 1em;
}

.content-about h1,
.content-work h1 {
    text-align: left;
    font-size: 35px;
    margin-bottom: 70px;
}

.top-section {top: 0px;}
.mid-section-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}
.mid-section {
    font-family: NeutraBold, Arial;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding: 140px 0 100px 0;
    overflow: hidden;
}

.bottom-section {
    bottom:0px;
    height: 100px;
}


.centered_div {
    margin: 0 auto;
    width: 100%;
}

.close-div {
    position: absolute;
    right: 46%;
    font-size: 30px;
    bottom: 50px;
}
.clickable-div {
    cursor: pointer;
}

.top-section .clickable-div:hover,
.close-div:hover {
  color: #989882;
}

.box-dim-70 {
    float: left;
    width: 69%;
}

.box-dim-30 {
    float: left;
    width: 30%;
}

.content-about {
    height: 100%;
}

.bio-wrapper p {
    text-align: left;
    font-size: 0.8em;
}

.box {
    height: 80%;
}

.photo-wrapper {
    opacity: 0.5;
    /* border: 2px solid; */
    /* border-radius: 100px; */
}

.contacts-wrapper {margin-top: 40px;}

.contacts-wrapper .grid_1 {
    float: none;
    display: inline-block;
    height: 100%;
}

.contacts-wrapper .grid_1 li a.soc-icon-last {
    margin-right: 0;
}
.photo-wrapper img {
    max-width: 60%;
    border-radius: 150px;
}

.bio-wrapper {
    padding-right: 40px;
}
.bio-wrapper p {
    margin-bottom: 0.5em;
}

.person-details {
    font-size: .9em;
    margin-bottom: 30px;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {

    .link-nav {
        font-size: 40px;
        line-height: 150px;
    }
    .bottom-section {
      bottom: 0px;
      height: 100px;
      line-height: 100px;
    }
    .mid-section {
      padding: 150px 0 100px 0;
    }
    .content-home h1,
    .content-about h1,
    .content-work h1 {
      font-size: 3em;
    }
    .content-home h2 {
      font-size: 2em;
    }

    .soc .grid_2 a {
      width: 70px;
      height: 70px;
      line-height: 70px;
      font-size: 30px;
    }
    .box-dim-70 {
      float: none;
      width: 100%;
      height: auto;
    }
    .bio-wrapper {
      padding-right: 0;
      margin-bottom: 40px
    }
    .bio-wrapper p {
      font-size: 1.3em;
    }

}
