<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <p>As a software engineer who bumped web development from a small hobby into a career path I had the opportunity of working in projects for both individuals and big corporations.</p>
                <p>Among backend development and projects, here are a some of the work I've been doing in the past years.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4>Work</h4>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="images/portfolio/cruk-fundraise.png" class="img-responsive" alt="CRUK Fundraising">
                </a>
                <a href="#portfolioModal1" title="CRUK Fundraising" class="portfolio-item-title">CRUK Fundraising</a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="images/portfolio/moonjamaica.png" class="img-responsive" alt="Moon Jamaica">
                </a>
                <a href="#portfolioModal2" title="Moon Jamaica" class="portfolio-item-title">Moon Jamaica</a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="images/portfolio/dec-org.png" class="img-responsive" alt="Disasters Emergency Committee">
                </a>
                <a href="#portfolioModal3" title="Disasters Emergency Committee" class="portfolio-item-title">Disasters Emergency Committee</a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="images/portfolio/theatre-people.png" class="img-responsive" alt="Theatre People">
                </a>
                <a href="#portfolioModal4" title="Theatre People" class="portfolio-item-title">Theatre People</a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="images/portfolio/esn-lisboa.png" class="img-responsive" alt="ESN Lisboa">
                </a>
                <a href="#portfolioModal5" title="ESN Lisboa" class="portfolio-item-title">ESN Lisboa</a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="images/portfolio/tkb-fct.png" class="img-responsive" alt="TKB FCT">
                </a>
                <a href="#" title="ESN Lisboa" class="portfolio-item-title">TKB FCT</a>
            </div>
        </div>
    </div>
</section>
