<div class="footer-below">
  <div class="container">
    <div class="row">
      <ul class="list-inline">
        <li>
          <a href="https://github.com/jfcsantos" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-github"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/boissa" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/joaofcsantos" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
        </li>

        <li>
          <a href="https://www.instagram.com/jfcsantos/" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-instagram"></i></a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-lg-12">
        &copy; Joao Santos 2016
      </div>
    </div>
  </div>
</div>
